<footer class="f-info text-center mt-4 p-3">
    <div class="f-info-socials mb-2">
        <a href="https://www.facebook.com" target="_blank" class="text-dark me-3">
            <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-dark me-3">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="text-dark me-3">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="text-dark">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </div>

    <div class="f-info-brand"> 
        &copy; WonderLust Private Limited
    </div>
    
    <div class="f-info-links mt-2">
        <a href="/privacy" class="text-dark">Privacy</a>
        <span class="mx-1">|</span>
        <a href="/terms" class="text-dark">Terms</a>
    </div>
</footer>


<!-- Footer (Responsive)--
<footer class="bg-dark text-white text-center py-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <a href="https://facebook.com" target="_blank" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="https://instagram.com" target="_blank" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="https://twitter.com" target="_blank" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="https://linkedin.com" target="_blank" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>
      <div class="col-md-4">&copy; WonderLust Private Limited</div>
      <div class="col-md-4">
        <a href="/privacy" class="text-white">Privacy</a> |
        <a href="/terms" class="text-white">Terms</a>
      </div>
    </div>
  </div>
</footer> -->